* {
  font-family: "Times New Roman", Times, serif;
}
.bg-body-custom {
    background-color: #DAC0A3;
}
.bg-custom {
  background-color: #af8f6f;
}
.bi-facebook {
    width: 24px;
    height: 24px;
    color: #fff;
    
}